/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600,700|Overpass:100,100i,200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
html,
body {
  font-family: 'Overpass', sans-serif;
  display: flex;
  flex-flow: column;
  background: #fafafc;
  line-height: 1.4;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  counter-reset: h2counter;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Overpass', sans-serif;
  }
}

code {
  /*font-family: 'SF Mono';*/
}

pre[style] {
  background-color: #fff !important;
}

.highlight {
  background: #ffffff;
  border-left: 2px solid #000;
  border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  margin-bottom: 0px;
  counter-reset: h2counter;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  counter-reset: h3counter;
}

h3 {
  counter-reset: h4counter;
}

h4 {
  counter-reset: h5counter;
}

.content h2:before {
    content: counter(h2counter) "\0000a0\0000a0";
    counter-increment: h2counter;
    color: #8d8d8d;
    font-size: 0.8em;
}

.content h3:before {
    content: counter(h2counter) "." counter(h3counter) "\0000a0\0000a0";
    counter-increment: h3counter;
    color: #8d8d8d;
    font-size: 0.8em;
}

.content h4:before {
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "\0000a0\0000a0";
    counter-increment: h4counter;
    color: #8d8d8d;
    font-size: 0.8em;
}

.content h5:before {
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "\0000a0\0000a0";
    counter-increment: h5counter;
    color: #8d8d8d;
    font-size: 0.8em;
}

.content h1 {
  display: inline;
}

.content time {
  margin-left: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #303030;
  background-color: #F2F2f2;
  border-radius: 4px;
  padding: 0px 3px 0px 0px;
  font-size: 1em;
  white-space: nowrap;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h6,
h5,
h4 {
  font-size: 1.1em;
}

p {
  margin-bottom: 1em;
}


ol,
ul {
  padding-left: 8px;
}

header {
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: 1px #ccc solid;
  padding: 2px;
}

.site-title {
  padding: 0;
  margin: 0;
}

#logo {
  display: inline-block;
  margin: 5px;
}

#logo svg {
  width: 30px;
  height: 30px;
}

.grid-container {
  flex: 1;
  display: flex;
  overflow-x: auto !important;
  white-space: nowrap;
  flex-grow: 1;
}

.grid {
  max-width: 100%;
  flex-grow: 1;
}

.page {
  white-space: normal;
  background: #ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  display: inline-block;
  width: 100%;
  max-width: 625px;
  height: 100% !important;
  max-height: 100%;
  overflow-y: auto;
  vertical-align: top;
  box-sizing: border-box;
  counter-reset: h2counter;
}

.wide {
  max-width: 1250px;
}

.page:last-child {
  margin-right: 15px;
}

.content {
  padding: 32px;
}

.terms {
  padding: 2px;

}

.tags a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    position: relative;
    margin: 8px 8px 8px 0px;
    padding: 0px 10px 0px 12px;
    background: #7a7;
    border-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 11px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0.25px 1px 2px rgba(0.5,0.5,0.5,0.5);
    font-weight: bold;
}

.tags sup {
  font-size: 0.6em;
  font-weight: medium;
  padding-left: -5px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(10, 132, 255, 1);
}

a.active {
  background-color: rgba(10, 132, 255, 0.15);
}

a:hover {
  opacity: 0.5;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  font-family: Georgia, bitstream charter, serif;
  border-left: 3px solid;
  border-left-color: currentcolor;
  border-color: var(--text-color);
  padding-left: 1em;
}

pre {
  overflow: auto;
  padding: 1em;
  margin: 1em auto;
}

img {
  max-width: 100%;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

iframe {
  overflow: hidden;
  overflow-y: hidden;
  border: none;
}

.tippy-box > .tippy-arrow:before {
  transform: scale(2);
}

.bl-section {
  padding: 2em 1em;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.125),
      rgba(0, 0, 0, 0.25)
    )
    no-repeat 50% 1em / 100% 1px;
}

.backlinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.bl-section h4 {
  color: #aaa;
  margin-top: 0;
}
.bl-section h4:before {
  content: "";
}

.backlinks a {
  flex: 100%;
  color: rgba(10, 132, 255, 0.75);
}

dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1em 0;
}
dl > * {
  padding-top: 0.5em;
}

dt {
  width: 30%;
  font-weight: bold;
  text-align: right;
}
dd {
  width: 60%;
  padding-left: 1em;
  margin-left: 0px;
}
dd + dd {
  width: 100%;
  padding-left: calc(30% + 1em);
}
dt + dt {
  padding-right: 60%;
}
dt + dt + dd {
  margin-top: -1.625em; /* own height including padding */
  padding-left: calc(30% + 1em);
}

#search {
  margin-left: 5px;
}

.search-submit {
  border-radius: 6px;
  color: #000000;
  background-color: #dddddd;
  border-style: solid;
  border-color: #333333;
}


.search-extract {
  margin-left: 10px;
  color: #aaa;
}

.search-extract::before {
  content: " :: ";
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  header {
    border-right-width: 0;
    border-bottom-width: 1px;
    padding: 10px 30px;
  }

  #logo {
    margin: 0;
  }

  #logo svg {
    width: 30px;
    height: 30px;
  }

  header > * {
    display: inline-block;
    margin-right: 10px;
  }

  .grid-container {
    padding: 0;
  }

  .page {
    padding-bottom: 150px;
  }

  .search-extract {
    display: none;
  }
}

.table-of-contents {
  float: right;
  width: 30%;
  font-size: 0.8em;
  padding:1em 1em 1em 2em;
  margin: 0 0 0.5em 0.5em;
  counter-reset: licounter;
}
.table-of-contents header {
  padding 0;
  margin 0 0 0 0;
}
.table-of-contents ul {
  padding: 0;
}
.table-of-contents li {
  margin: 0 0 0.25em 0;
}
.table-of-contents a {
  text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
}
.table-of-contents ul {
  list-style-type: none;
  counter-increment: licounter1;
}
.table-of-contents ol {
  list-style-type: none;
  color: #8d8d8d;
  counter-reset: item;
  padding-left: 10px;
}
.table-of-contents ol > li:before {
    content: counters(item, ".") "\0000a0\0000a0";
    color: #8d8d8d;
    font-size: 0.8em;
}
.table-of-contents ol > li {
    counter-increment: item;
}
.table-of-contents ol ol > li {
    display: block;
}
.table-of-contents ol ol > li:before {
    content: counters(item, ".") "\0000a0\0000a0";
    color: #8d8d8d;
    font-size: 0.8em;
}
